body{
	margin: 0;
	padding: 0;
}
.acomodar{
	margin-top: 150px;
	margin-left: 580px;
}
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
* html .clearfix { height: 1%;}
.clearfix {display: block;}
footer {
            position: relative;
            margin-top: 150px;
            height: 60px;
            padding:5px 0px;
            clear: both;
            background: #282828;
            text-align: center;
            color: #fff;
        }
 .define {
            width:960px;
            margin:0 auto;
        }