doctype html5
html(lang="es")
	head
		meta(charset="UTF-8")
		title Control de Vehículos
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="../../../css/bootstrap.css")
		link(rel="stylesheet", href="../../../css/bootstrap-theme.css")
		link(rel="stylesheet", href="../../../css/font-awesome.css")
		link(rel="stylesheet", href="css/estilos.css")
		link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
	body
		nav.navbar.navbar-inverse.navbar-fixed-top(role="banner")
			.mpc
				.navbar-header
					button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					p(href="../Supervisor.html").navbar-titulo.hidden-xs Control de Vehículos
					
		.mpc
			.row
				.col-md-3.col-sm-4(id="leftCol")
					nav.collapse.navbar-collapse(role="navigation")
						ul.nav.nav-stacked(id="sidebar")
							li
								a(href="")
									i.fa.fa-user
									&nbsp;Nuevo vehículo
							li.dropdown
								a.dropdown-toggle(data-toggle="dropdown" href="#")
									i.fa.fa-user
									&nbsp; Menu 1
									span.caret
								ul.dropdown-menu
									li: a(href="#")	Submenu 1-1
									li: a(href="#")	Submenu 1-2
									li: a(href="#")	Submenu 1-3
							li: a(href="#seccion") &nbsp;Editar Vehículo
							li: a(href="#seccion2") &nbsp;Hoja de vida
				.col-md-9.col-sm-8
					br
					p(style="background:red;") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate mollitia expedita, perspiciatis dolores numquam magni nesciunt eum quos placeat, vel ullam delectus error eveniet eaque. Eum quidem esse ipsa explicabo.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate mollitia expedita, perspiciatis dolores numquam magni nesciunt eum quos placeat, vel ullam delectus error eveniet eaque. Eum quidem esse ipsa explicabo.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate mollitia expedita, perspiciatis dolores numquam magni nesciunt eum quos placeat, vel ullam delectus error eveniet eaque. Eum quidem esse ipsa explicabo.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate mollitia expedita, perspiciatis dolores numquam magni nesciunt eum quos placeat, vel ullam delectus error eveniet eaque. Eum quidem esse ipsa explicabo.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate mollitia expedita, perspiciatis dolores numquam magni nesciunt eum quos placeat, vel ullam delectus error eveniet eaque. Eum quidem esse ipsa explicabo.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate mollitia expedita, perspiciatis dolores numquam magni nesciunt eum quos placeat, vel ullam delectus error eveniet eaque. Eum quidem esse ipsa explicabo.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate mollitia expedita, perspiciatis dolores numquam magni nesciunt eum quos placeat, vel ullam delectus error eveniet eaque. Eum quidem esse ipsa explicabo.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate mollitia expedita, perspiciatis dolores numquam magni nesciunt eum quos placeat, vel ullam delectus error eveniet eaque. Eum quidem esse ipsa explicabo.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate mollitia expedita, perspiciatis dolores numquam magni nesciunt eum quos placeat, vel ullam delectus error eveniet eaque. Eum quidem esse ipsa explicabo.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate mollitia expedita, perspiciatis dolores numquam magni nesciunt eum quos placeat, vel ullam delectus error eveniet eaque. Eum quidem esse ipsa explicabo.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate mollitia expedita, perspiciatis dolores numquam magni nesciunt eum quos placeat, vel ullam delectus error eveniet eaque. Eum quidem esse ipsa explicabo.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate mollitia expedita, perspiciatis dolores numquam magni nesciunt eum quos placeat, vel ullam delectus error eveniet eaque. Eum quidem esse ipsa explicabo.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate mollitia expedita, perspiciatis dolores numquam magni nesciunt eum quos placeat, vel ullam delectus error eveniet eaque. Eum quidem esse ipsa explicabo.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate mollitia expedita, perspiciatis dolores numquam magni nesciunt eum quos placeat, vel ullam delectus error eveniet eaque. Eum quidem esse ipsa explicabo.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate mollitia expedita, perspiciatis dolores numquam magni nesciunt eum quos placeat, vel ullam delectus error eveniet eaque. Eum quidem esse ipsa explicabo.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate mollitia expedita, perspiciatis dolores numquam magni nesciunt eum quos placeat, vel ullam delectus error eveniet eaque. Eum quidem esse ipsa explicabo.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate mollitia expedita, perspiciatis dolores numquam magni nesciunt eum quos placeat, vel ullam delectus error eveniet eaque. Eum quidem esse ipsa explicabo.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate mollitia expedita, perspiciatis dolores numquam magni nesciunt eum quos placeat, vel ullam delectus error eveniet eaque. Eum quidem esse ipsa explicabo.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate mollitia expedita, perspiciatis dolores numquam magni nesciunt eum quos placeat, vel ullam delectus error eveniet eaque. Eum quidem esse ipsa explicabo.
		script(src="../../../js/jquery-2.2.4.min.js")
		script(src="../../../js/bootstrap.js")
		script(src="js/scripts.js")
