doctype html5
html(lang="es")
	head
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(charset="UTF-8")
		title Control Vehiculos
		link(rel="stylesheet", href="../../../css/bootstrap.css")
		link(rel="stylesheet", href="../../../css/bootstrap-theme.css")
		link(rel="stylesheet", href="../../../css/font-awesome.css")
		link(rel="stylesheet", href="../../../css/layout.css")
	body
		header#header
			h1.site_title Jefe De Mantenimiento
			h2.section_title Vehículos
				.btn_view_site Inicio