doctype html5
html(lang="es")
	head
		meta(charset="utf-8")
		title Jefe De Mantenimiento
		link(rel="stylesheet" href="../../../css/bootstrap.css")
		link(rel="stylesheet" href="../../../css/bootstrap-theme.css")
		link(rel="stylesheet", href="css/ed-grid.css")
		link(rel="stylesheet", href="css/estilos.css")
	body(class="desarrollo")
		.ed-container.total
			.ed-item.movil-20.fixed.azul
				ul
					li: a(href="#") Inicio
					li: a(href="#") Inicio
					li: a(href="#") Inicio
					li: a(href="#") Inicio
					li: a(href="#") Inicio

			.ed-item.movil-80.movil-offset-20
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione est dolore minus tempore ex odio, corrupti itaque similique fuga, doloribus, cum nam illum saepe suscipit voluptatibus provident praesentium necessitatibus.