.module.width_3_quarter {
	text-align: center;
}
.tablesorter  {
	text-align: left;
}
#header{
	position: fixed;
}
.width_3_quarter {
    width: 95%;
    margin-right: 0px;
    float: left;
}
.quick_search {
    text-align: center;
    padding: 33px 0 10px 0;
}
td{
	width: ;
	height: ;
}
#main h4.alert_info {
    display: block;
    width: 95%;
    margin: 20px 3% 0 3%;
    margin-top: 36px;

}
.ltrspcng {
	letter-spacing: 1em;
}