#header{
	position: fixed;
}
.width_3_quarter {
    width: 95%;
    margin-right: 0px;
    float: left;
}
.quick_search {
    text-align: center;
    padding: 33px 0 10px 0;
}
td{
	width: ;
	height: ;
}