@import url(https://fonts.googleapis.com/css?family=Roboto);

#sidebar li.icn_new_article a {
background: url(../../../../images/icn_new_article.png) no-repeat center left;
}
#sidebar li.icn_edit_article a {
background: url(../../../../images/icn_edit_article.png) no-repeat center left;
}
#sidebar li.icn_categories a {
background: url(../../../../images/icn_categories.png) no-repeat center left;
}
#sidebar li.icn_tags a {
background: url(../../../../images/icn_tags.png) no-repeat center left;
}
#sidebar li.icn_add_user a {
background: url(../../../../images/icn_add_user.png) no-repeat center left;
}
#sidebar li.icn_view_users a {
background: url(../../../../images/icn_view_users.png) no-repeat center left;
}
#sidebar li.icn_profile a {
background: url(../../../../images/icn_profile.png) no-repeat center left;
}
#sidebar li.icn_folder a {
background: url(../../../../images/icn_folder.png) no-repeat center left;
}
#sidebar li.icn_photo a {
background: url(../../../../images/icn_photo.png) no-repeat center left;
}
#sidebar li.icn_audio a {
background: url(../../../../images/icn_audio.png) no-repeat center left;
}
#sidebar li.icn_video a {
background: url(../../../../images/icn_video.png) no-repeat center left;
}
#sidebar li.icn_settings a {
background: url(../../../../images/icn_settings.png) no-repeat center left;
}
#sidebar li.icn_security a {
background: url(../../../../images/icn_security.png) no-repeat center left;
}
#sidebar li.icn_jump_back a {
background: url(../../../../images/icn_jump_back.png) no-repeat center left;
}
.navbar-inverse {
	height: 55px;
	background-image: url(../../../../images/header_bg.png);
}
/* estilos propios */
body {
	padding-top:50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-bright {
 color:#fff;
}

.affix-top,.affix{
	position: static;
}

@media (min-width: 768px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:100%;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}


.navbar-titulo {
	color: white;
	font-weight: normal;
	font-size: 22px;
	padding: 15px;
	color: #fff;
	text-shadow: 0 -1px 0 #000;
}
.navbar-header {
    float: left;
    color: white;
    text-align: center;
    width: 100%;
}
.mpc {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .mpc {
    width: 100%px;
  }
}
@media (min-width: 992px) {
  .mpc {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .mpc {
    width: 100%;
  }
}