.navbar{
	margin-bottom: 0;
	color: #000;
	background-color: #fff;
}
.caja { float:left;margin-left:525px; }
.posisicion {
display: inline-block;
}

body{

}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
#center{
	background-color: #0A72F3;
	float: center;
}
#Rigth{
	background-color: orange;
}
#left{
	clear: both;
	background-color: blue;
}
#wrapper{
	background-color: #444;
}
.color{
	background-color: #0078FF;
}
footer {
    position: relative;
    margin-top: 0px;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: #113F8C;
    color:#000;
    box-shadow: 5px 1px 5px white;
}