body {
	background-color: #EEEEEE;
	color: #808080;
}
input[type='text']{
	color: #424242;
}
.principal {
	margin-top: 3%;
}
.logo-colex h2 {
	padding-top: 35%;
	color: #FEC60F;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 4em;
}
.logo-colex h2 span {
	color: #595262;
}
#bloque-1 {
	padding-top: 6em;
}
#bloque-1 img {
	padding-top: 1em;
}