body {
background:url(../images/icon/O6RVBF0.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.acomodar1{
	
	margin-left: 2em;
	margin-top: 2em;
}
.acomodar2{
	margin-top: -1em;
	margin-left: 29em;
}
.Inicio{
	background: #000;
}